<!DOCTYPE html>
<html lang="en">
{% load static %}
{% load leaflet_tags %}
{% load mygod_tags %}
<head>
{% block extra_head %}{% endblock %}

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.23/css/jquery.dataTables.css">

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
          integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
          crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/css/bootstrap4-toggle.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.12.0/css/dataTables.bootstrap4.min.css"/>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.css"
          integrity="sha256-b88RdwbRJEzRx95nCuuva+hO5ExvXXnpX+78h8DjyOE=" crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.12.0/css/dataTables.bootstrap4.min.css"/>

    <script
            src="https://code.jquery.com/jquery-3.5.1.min.js"
            integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
            crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/js/bootstrap4-toggle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/xcash/bootstrap-autocomplete@v2.3.7/dist/latest/bootstrap-autocomplete.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/bootstrap-select.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.js"
            integrity="sha256-/7FLTdzP6CfC1VBAj/rsp3Rinuuu9leMRGd354hvk0k=" crossorigin="anonymous"></script>
    <script src="https://d3js.org/d3.v6.min.js"></script>

    <script src="https://cdn.datatables.net/1.12.0/js/jquery.dataTables.min.js"></script>

    <script src="{% static 'appear-on-hover.js' %}"></script>
    {% leaflet_js %}
    {% leaflet_css %}


    {% block css_additions %}
    {% endblock %}

    {% block js_additions %}
    {% endblock %}

    <link href="{% static 'custom.css' %}" rel="stylesheet">

    <title>MyGOD - Manipulate your Genomic Observatory Data</title>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->

    <!-- Matomo -->


    <script>
        var MATOMO_BASE_URL = '{% settings_value "MATOMO_BASE_URL" %}';
        var MATOMO_SITE_ID = '{% settings_value "MATOMO_SITE_ID" %}';
        if (MATOMO_BASE_URL != '' && MATOMO_SITE_ID != '') {
            var _paq = window._paq = window._paq || [];
            /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
            _paq.push(['trackPageView']);
            _paq.push(['enableLinkTracking']);
            (function () {
                var u = '//' + MATOMO_BASE_URL + '/';
                _paq.push(['setTrackerUrl', u + 'matomo.php']);
                _paq.push(['setSiteId', MATOMO_SITE_ID]);
                var d = document, g = d.createElement('script'), s = d.getElementsByTagName('script')[0];
                g.async = true;
                g.src = u + 'matomo.js';
                s.parentNode.insertBefore(g, s);
            })();
        }
    </script>
    <!-- End Matomo Code -->


</head>

<body class="vdgob-body">

<div class="top-bar">
    <div class="container-fluid">
        <div class="row">
            <div class="col-3">
                <a href="{% url 'mygodapp:index' %}">
                    <h1 class="text-bold text-white ">MyGOD</h1>
                </a>
            </div>
            <div class="col-5"></div>
            <div class="col-4 text-right text-white text-bold">
                    <span class="mr-2 fa fa-user icon-user icon-fa text-white"></span>
                    {% if user.is_authenticated %}
                    <a class="text-white" href="{% url 'mygodapp:user_page' %}">{{ user }}</a> |
                    <a class="text-white" href="{% url 'mygodapp:logout' %}">Logout</a>
                    {% else %}
                    <a class="text-white" href="{% url 'mygodapp:sign_in' %}">Login</a> |
                    <a class="text-white" href="{% url 'mygodapp:sign_up' %}">Register</a>
                    {% endif %}
            </div>
        </div>
    </div>


</div>


<!-- Navigation -->
<div class="sidenav">
    {% block sidebar %} {% endblock %}
</div>

<div class="main">
    <div class="row m-0">
        {% block title %}
            <div class="box">
                <div class="col-lg-12 text-center mt-2">
                    <div id="bloc_page" style="position: relative">
                        <header>
                            <div class="titleimage">
                                <img src="{% static 'image/phytoplankton_title.png' %}" alt="Snow"
                                    style="width:100%; height:60%;">
                            <div class="left_side"><h1 class="header-image-title">Manipulate your Genomic Observatory Data</h1></div>
                            <hr class="tagline-divider">
                            </div>
                        </header>
                    </div>
                </div>
            </div>
        {% endblock %}

        <div class="container-fluid">

            {% block content %}{% endblock %}

        </div>
    </div>
</div>


<footer class="footer text-center">

    <hr class="tagline-divider">
    <img src="{% static 'image/logo_abims_footer.png' %}"
         alt="ABiMS" title="ABiMS" class="footer-logo"/>
    <img src="{% static 'image/logo_sbr_footer.png' %}"
         alt="Station Biologique de Roscoff" title="Station Biologique de Roscoff" class="footer-logo"/>
    <img src="{% static 'image/logo_su_footer.png' %}"
         alt="Sorbonne Université" title="Sorbonne Université" class="footer-logo"/>
    <img src="{% static 'image/logo_cnrs_footer.png' %}"
         alt="CNRS" title="CNRS" class="footer-logo"/>
    <img src="{% static 'image/logo_bgo_footer.png' %}"
         alt="BGO" title="BGO" class="footer-logo"/>
</footer>

</body>

</html>
