{% extends 'base.html' %}
{% load humanize %}
{% load static %}

{% load leaflet_tags %}
{% block sidebar %}
    {% include "sidebar.html" %}
{% endblock %}


{% block content %}

    <div>
        <h1><a id="whatsnew">Latest Changes</a></h1>
        <div>
            <table id="changelog" class="table table-striped table-bordered" style="width:100%">
                <thead>
                <tr>
                    <th>Date</th>
                    <th>Description</th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
            <script type="application/javascript">
                let table=$('#changelog').DataTable({
                    "ajax": {
                        "url": "{% static 'changelog.json' %}"
                        },
                    "order": [0],
                    "columns": [
                        {"data": "date"},
                        {"data": "description"},
                        ]
                    }
                );
            </script>
        </div>
    </div>


{% endblock %}
<script>export default {
    components: {}
}
</script>