{% extends 'base.html' %}
{% load static %}
{% load mygod_tags %}

{% block title %}

{% endblock %}

{% block css_additions %}
    <link href="{% static 'css/app.css' %}" rel="stylesheet">
    <link href="{% static 'css/chunk-vendors.css' %}" rel="stylesheet">
{% endblock %}

{% block js_additions %}
{% endblock %}

{% block sidebar %}
    {% include "sidebar.html" %}
{% endblock %}

{% block content %}
<div id="userdetails" style="display: none">{% if user.is_authenticated %}{{ user.get_username }}{% else %}{% endif %}</div>
<div id="dashboard_id" style="display: none">{{ uuid }}</div>
<div id="entry_type" style="display: none">{{ type }}</div>
<div id="application_context" style="display: none">/{% settings_value "APPLICATION_CONTEXT" %}</div>


<div id="app" >
</div>
<script src="{% static 'js/app.js' %}"></script>
<script src="{% static 'js/chunk-vendors.js' %}"></script>


{% endblock %}