{% extends 'base.html' %}
{% load static %}
{% load leaflet_tags %}
{% block title %}

{% endblock %}
{% block sidebar %}
{% include "sidebar.html" %}
{% endblock %}
{% block content %}

<div class="container-fluid">
    <div class="row">
        <Text> When one of your saved Dashboards is published, it is made accessible to everyone via our Gallery.
            Publication
            serves to shed light on biological phenomena, and needs to be accompanied by a brief summary as well as a
            more
            explanatory description
        </Text>
    </div>
    <hr>
    <form action="{% url 'mygodapp:edit_gallery_entry' status=entry_status %}" enctype="multipart/form-data" method="post">
        {% for hidden in form.hidden_fields %}
        {{ hidden }}
        {% endfor %}
        {% csrf_token %}
        {{ foobar|safe }}
        <div class="form-row">
            <div class="form-group col-1">
                <label class="text-bold">Title : </label>
            </div>
            <div class="col-2">
                {{ form.title }}
            </div>
        </div>
        <div class="form-row mt-2">
            <div class="form-group col-1">
                <label class="text-bold">Image : </label>
            </div>
            <div class="col">
                {% if entry  %}
                <div><img src="{{ entry.image.url }}" height="150"/></div>
                {% endif %}
                {{ form.image }}
            </div>
        </div>
        <div class="form-row mt-2">
            <div class="form-group col-1">
                <label class="text-bold">Summary :</label>
            </div>
            <div class="col-2">
                {{ form.summary }}
            </div>
        </div>
        <div class="form-row mt-2">
            <div class="form-group col-1">
                <label class="text-bold">Text :</label>
            </div>
            <div class="col-2">
                {{ form.text }}
            </div>
        </div>

        {{ form.uuid }}


        <button class="btn btn-color-primary text-white" type="submit" value="Submit">Edit</button>
    </form>

    {{ form.errors }}
    {{ form.non_field_errors }}

</div>
{% endblock %}