{% extends 'base.html' %}
{% load static %}
{% load leaflet_tags %}
{% block title %}

{% endblock %}
{% block sidebar %}
{% include "sidebar.html" %}
{% endblock %}
{% block content %}


<form action="{% url 'mygodapp:modify_metadata_dataset' %}" enctype="multipart/form-data" method="post">
    {% csrf_token %}
    {{ foobar|safe }}
    <text class="h3 text-bold mt-5">General Data</text>
    <div class="form-group row mt-4">
        <div class="col-4 right-aligned-field">
            Name {{ form.name }}
        </div>
        <div class="col-4  right-aligned-field">
            DOI {{ form.doi }}
        </div>
        <div class="col-4  right-aligned-field">
            Min score. {{ form.minimal_identity }}
        </div>
    </div>
    <div class="form-group row mt-4">
        <div class="col-4 right-aligned-field">
            Campaign {{ form.campaign }}
        </div>
        <div class="col-4 right-aligned-field">
            Description {{ form.description }}
        </div>
        <div class="col-4 right-aligned-field">
            Marker {{ form.marker }}
        </div>
    </div>
    <div class="form-group row mt-4">
        <div class="col-4 right-aligned-field">
            Project {{ form.project }}
        </div>
        <div class="col-4 right-aligned-field">
            Site {{ form.site }}
        </div>
        <div class="col-4 right-aligned-field">
        </div>
    </div>
    <hr>
    <text class="h3 text-bold mt-4">Technical Data</text>
    <br>
    <text>Used by dashboard search functions to retrieve and display plots.</text>
    <div class="form-group row mt-4">
        <div class="col-6 right-aligned-field">
            Type {{ form.type }}
        </div>
        <div class="col-6  right-aligned-field">
            First sample date {{ form.first_sample_date }}
        </div>
    </div>
    <div class="form-group row mt-4">
        <div class="col-6 right-aligned-field">
        </div>
        <div class="col-6 right-aligned-field">
            last sample date {{ form.last_sample_date }}
        </div>
    </div>
    <div class="form-group row mt-4">
        <div class="col-6 right-aligned-field">
            Parameters {{ form.pc_parameter_list }}
        </div>
        <div class="col-6  right-aligned-field">
           Fraction {{ form.fraction }}
        </div>
    </div>


    <hr>
    <text class="h3 text-bold mt-4">Additional Data</text>
    <div class="form-group row mt-4">
        <div class="col-6 right-aligned-field">
            Text {{ form.text }}
        </div>
        <div class="col-6 right-aligned-field">
            Related publications  {{ form.related_publications }}
        </div>

    </div>
    <button class="btn btn-color-primary text-white" type="submit" value="Submit">Modify</button>
</form>

    <a class="btn mt-5 btn-primary btn-color-primary mr-1 text-size-container"
                   href="{% url 'mygodapp:user_page' %}">Back to User Page</a>

{{ form.errors }}
{{ form.non_field_errors }}


{% endblock %}