{% extends 'base.html' %}
{% load humanize %}
{% load static %}

{% load leaflet_tags %}
{% block sidebar %}
    {% include "sidebar.html" %}
{% endblock %}


{% block content %}
    <div>
        <h1><a id="whatismygod">What is MyGOD ?</a></h1>
        <div>
            <p>MyGOD <i>(Manipulate your Genomic Observatory Data)</i> is an on-line tool to visualize and explore data collected
            by one or several genome observatories. In its current (beta) version, MyGOD can ingest metabarcode data as well as physico-chemical measurements.
            Future releases will include "classical" biodiversity data (occurrence tables). Similarly, this release of MyGOD
            is focused on searching and visualising data based on taxon descriptors (i.e.: names and ranks in a taxonomy). Extension to sequence
            based searches is also planned.</p>
        </div>
        <div style="text-align: center; width: 100%">
            <iframe src="https://player.vimeo.com/video/688764467?h=780afb74bc" width="640" height="360" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
        </div>
        <hr class="tagline-divider" />
        <h1>Using MyGOD</h1>
        <div class="docsection">
            <h2><a id="taxonbasedsearchandvisualisation">Taxon Based Search and Visualisation</a></h2>
            <div class="docsubsection">
                <p>
                Taxon based search and visualisation allow users to display various types of graphical representations centered
                around one of several taxons of interest (cf. <a href="#taxomgt">Taxonomy Management</a> below for details about how MyGOD
                handles taxonomies). This is achieved through the use of a dashboard which can be reached either by clicking on the "Search by taxon"
                button on the home page, or by using the "By taxon" entry in the "Search" menu of the left sidebar. This opens the dashboard view.
                </p>
                <img src="{% static 'image/screenshots/search_by_taxon.png' %}"/>
            </div>
            <h2>The Dashboard View</h2>
            <div class="docsubsection">
                <p>
                The dashboard view is subdivided in two main sections. At the top, one or more Search Panels can be used to narrow down the search
                according to various criteria. At the bottom, the actual dashboard is a canvas where users can add/more/remove various widgets (mainly plots and maps)
                to build visualisations that best expose a phenomenon of interest.
                </p>
                <img src="{% static 'image/screenshots/dashboard_view.png' %}"/>
            </div>
            <h2>Defining Taxon Search Criteria</h2>
            <div class="docsubsection">
                <p>A taxon search panel is divided in two parts. On the left hand side, there are menus for selecting one of the available datasets, as well
                as a specific date range. On the right hand side, a menu allows to select, if needed, a specific rank in the taxonomy that is associated to the
                selected dataset. By default, the <t>Any</t> item is selected, meaning that the search will return matches occurring in any rank. Below this menu,
                an autocompleting text field allows the user to choose any of the referenced taxons matching what he or she started to type (at least 3 letters).
                After defining the search criteria, clicking on the "Generate Dashboard" button will fill the dashboard with a set of predefined graphical representations.</p>
                <p>In the screenshot below, the dashboard was generated after selecting the "ASTAN 16S 2009-2016" dataset, entering "Archaea" in the "Taxon" textfield and clicking on the "Generate Dashboard" button.
                Detailed explanations on the graphical representations that are generated can be found in the <a href="#dashboardwidgets">Dashboard Widgets</a> section below.</p>
                <img src="{% static 'image/screenshots/default_dashboard.png' %}" width="1280px"/>
            </div>
            <h2></h2>
            <h2>Using Multiple Taxon Search Criteria</h2>
            <div class="docsubsection">
                <p>The "Add Taxon Search Panel" button at the bottom of the Taxon Search section of the dashboard view will generate a new Taxon Search Panel below the
                    previous one. This panel can be used to define completely different search criteria and to generate additional graphical representations in the dashboard.
                    Each Taxon Search Panel has a specific border color. This color is reused for the graphical representations in the dashboard, and thus allows to easily
                    identify which representations match a given Taxon Search Panel and vice versa.
                </p>
                <p>When multiple Taxon Search Panels take up too much screen space, the "Toggle Taxon Search Panels" button can be used to collapse them.</p>
            </div>
            <h2 id="dashboardwidgets">Dashboard Widgets</h2>
            <div class="docsubsection">
                <p>Dashboard Widgets are graphical or textual components that can be added, resized, moved inside the dashboard canvas. Most of the widgets with graphical representation have an additional set of
                features that can be accessed by clicking on one of the icons on the right hand side, below the widget's top bar, as shown in the following screenshot.</p>
                <img src="{% static 'image/screenshots/widget_features.png' %}" width="800px"/>
                <ul>
                    <li>The leftmost icon with the sliders ("Tune Parameters") opens a dialog window where most of the parameters specific to a given widget can be adjusted (selection of a taxon in one of the ranks below
                    the rank selected in the Taxon Search Panel, switch between taxons and ASVs, change to another size fraction, select another physico-chemical parameter...).</li>
                    <li>The middle icon with with the arrow ("Download") allows to download the graphical representation (PNG or SVG formats), metadata describing the contents of the plot, and in some cases the data itself.
                        <em>(Currently, data is returned as a JSON file. Work is ongoing to provide data in tabular format.)</em></li>
                    <li>The rightmost icon ("Clone") generates a new widget with the exact same contents as the current widget. This is mostly useful in conjunction with the "Tune Parameters" icon to compare widgets
                    when changing one ore more parameters.</li>
                </ul>

                <div class="docsubsubsection">
                <h4>Summary Widget</h4>
                    <p>This widget gives the essential information about the search criteria used to generate the dashboard as well as the search results.</p>
                    <img src="{% static 'image/screenshots/summary_widget.png' %}" width ="480px"/>
                <h4>Relative Abundances vs. Physico-chemical Parameter Plot</h4>
                    <p>This widget draws a scatter plot with each dot representing the relative abundance of the selected taxon(s) or ASV(s) for each value of
                        the currently selected physico-chemical parameter. The "Tune Parameters" icon can be used to select amongst the available phyisco-chemical parameters.
                    </p>
                    <img src="{% static 'image/screenshots/phys_chem_plot.png' %}" width ="480px"/>
                <h4>Relative Abundances over Time Plot</h4>
                    <p>This widget draws a line plot showing the evolution of the relative abundace of the selected taxon(s) or ASV(s) over a date range.</p>
                    <img src="{% static 'image/screenshots/time_plot.png' %}" width ="480px"/>
                <h4>Seasonal Distribution of Relative Abundances Plot</h4>
                    <p>This widget draws a boxplot showing the relative abundances of the selected taxon(s) or ASV(s) in each of the four seasons.</p>
                    <img src="{% static 'image/screenshots/seasonal_plot.png' %}" width ="480px"/>
                <h4>Sampling Location Map</h4>
                    <p>This widget shows a map with the sampling locations (black crosses) as well as the relative abundances of the selected taxon(s) or ASV(s). Abundances are represented with circles having
                        a radius proportional to their relative abundance. The circle colors match specific depth categories that have been defined for the dataset. Using the layer icon, in the top right corner
                        of the map widget, it is possible to select one or several of these depth classes to compare relative abundances according to depth.</p>
                    <img src="{% static 'image/screenshots/map_widget.png' %}" width ="480px"/>
                <h4>ASV Richness Tree Map - Alpha Diversity</h4>
                    <p>This widget shows the richness of all ASVs matching the selected taxon and all of its descendents in the taxomic tree. Clicking on one of the rectangles of the tree map will focus the display
                        on the newly selected taxon.</p>
                    <img src="{% static 'image/screenshots/asv_richness_treemap.png' %}" width ="480px"/>
                </div>
                <h4>Relative Taxonomic Composition - Alpha Diversity</h4>
                <p>This widget shows a barchart with one bar per sampling date by default. Bars are subdivided according to the relative taxonomic decomposition starting at the rank defined in the Taxon Search Panel.
                    The "Tune Parameters" icons allows to play with various settings, such as the taxonomic rank to use for the decomposition, the maximum number of bars to show in the plot, or the parameter used
                    to build the bars (date, depth for example). The "Prev" and "Next" buttons at the bottom of the plot allow to move to the previous or next set of bars when not all bars are displayed on the plot.</p>
                    <img src="{% static 'image/screenshots/asv_richness_barchart.png' %}" width ="480px"/>
            </div>
            <h2><a id="sequencebasedsearchandvisualisation">Sequence Based Search and Visualisation</a></h2>
            <div class="docsubsection">
                <i>To be implemented.</i>
            </div>
        </div>
        <h1>Under the Hood</h1>
        <div class="docsection">
            <h2><a id="taxomgt">Taxonomy Management</a></h2>
            <div class="docsubsection">
                In its current release, each dataset has its own copy of a taxonomy. This is necessary to easily allow the use of
                several versions of a same reference taxonomy for different datasets. Frequently used taxonomies for metabarcode data
                imported in MyGOD are PR2 or Silva. When data is integrated in MyGOD, the table with metabarcode amplicon data also
                contains a hierarchically encoded description of a taxonomy entry. Hence, a dataset does not contain the complete reference taxonomy
                but only the subset matching taxons present in the dataset.
            </div>
        </div>
    </div>


{% endblock %}
<script>export default {
    components: {}
}
</script>