{% extends 'base.html' %}
{% load static %}
{% block title %}

{% endblock %}
{% block sidebar %}
{% include "sidebar.html" %}
{% endblock %}
{% block content %}

<div class="row h1"> Gallery</div>
<hr>
<div class="container-fluid mt-4">
    <div class="row">

        {% for dash in published_dashboard %}
        <div class="col-4 mb-4">
            <div class="col-lg-12 container-graph-white  border-white rounded mb-4 pb-3 pt-2 text-center">
                <img src="{{ dash.image.url }}" height="150"/>
                <div class="h-50 pb-4">
                    <div class="mt-2">
                        <text class="font-weight-bold h4">{{ dash.title }}</text>
                    </div>

                    <div class="h-100">{{ dash.summary|safe }}</div>
                    <hr>

                    Created by :
                    <text class="font-italic">{{ dash.bind_dashboard.user.first_name }}
                        {{ dash.bind_dashboard.user.last_name }}
                    </text>
                    <br>
                    <button type="button" class="btn btn-color-primary text-white">
                        <a href="{% url 'mygodapp:search' %}?uuid={{ dash.bind_dashboard.uuid }}&type=gallery_entry"
                           class="text-white">Show</a>
                    </button>
                </div>
            </div>
        </div>
        {% if forloop.counter|divisibleby:3 %}
    </div>
    <div class="row">{% endif %}


        {% endfor %}
    </div>
</div>

{% if user.is_authenticated %}
<div class="container-fluid mt-2">
    {% if shared_dashboard %}
    <div class="row ">
        <div class="col-12 container-graph-drakblue rounded pt-2 pb-2 text-white mb-2 text-bold">Shared with User</div>
    </div>
    <div class="row">
        {% for dash in shared_dashboard %}
        <div class="col-4 mb-4">
            <div class="col-lg-12 container-graph-white  border-white rounded mb-4 pb-3 pt-2 text-center">
                <img src="{{ dash.image.url }}" height="150"/>
                <div class="h-50 pb-4">
                    <div class="mt-2">
                        <text class="font-weight-bold h4">{{ dash.title }}</text>
                    </div>

                    <div class="h-100">{{ dash.summary|safe }}</div>
                    <hr>

                    Created by :
                    <text class="font-italic">{{ dash.bind_dashboard.user.first_name }}
                        {{ dash.bind_dashboard.user.last_name }}
                    </text>
                    <br>
                    <button type="button" class="btn btn-color-primary text-white">
                        <a href="{% url 'mygodapp:search' %}?uuid={{ dash.bind_dashboard.uuid }}&type=gallery_entry"
                           class="text-white">Show</a>
                    </button>
                </div>
            </div>
        </div>
        {% if forloop.counter|divisibleby:3 %}
    </div>
    <div class="row">{% endif %}


        {% endfor %}
    </div>
    {% endif %}

    {% if user_only_dashboard %}
    <div class="row ">
        <div class="col-12 container-graph-drakblue rounded pt-2 pb-2 text-white mb-2 text-bold">Private</div>
    </div>
    <div class="row">
        {% for dash in user_only_dashboard %}
        <div class="col-4 mb-4">
            <div class="col-lg-12 container-graph-white  border-white rounded mb-4 pb-3 pt-2 text-center">
                <img src="{{ dash.image.url }}" height="150"/>
                <div class="h-50 pb-4">
                    <div class="mt-2">
                        <text class="font-weight-bold h4">{{ dash.title }}</text>
                    </div>

                    <div class="h-100">{{ dash.summary|safe }}</div>
                    <hr>

                    Created by :
                    <text class="font-italic">{{ dash.bind_dashboard.user.first_name }}
                        {{ dash.bind_dashboard.user.last_name }}
                    </text>
                    <br>
                    <button type="button" class="btn btn-color-primary text-white">
                        <a href="{% url 'mygodapp:search' %}?uuid={{ dash.bind_dashboard.uuid }}&type=gallery_entry"
                           class="text-white">Show</a>
                    </button>
                </div>
            </div>
        </div>
        {% if forloop.counter|divisibleby:3 %}
    </div>
    <div class="row">{% endif %}


        {% endfor %}
    </div>
    {% endif %}
</div>

{% endif %}

{% endblock %}