{% extends 'base.html' %}
{% load humanize %}
{% load static %}

{% load leaflet_tags %}
{% block sidebar %}
{% include "sidebar.html" %}
{% endblock %}


{% block content %}


<div class="container-fluid ">
        <div class="row mr-3 ml-2">
            <p class=" border border-4 border-white col-8 text-size-description">
		MyGOD is a Web-based visual exploration tool. It has been designed to enable scientists to easily build dynamic and composite graphical representations of biodiversity data supplemented with environmental data (ex.: physico-chemical measurements).
		Anonymous visitors have access to all data and all types of graphical representations offered by MyGOD. Authenticated users benefit for additional feautures: they can save all the settings of the dashboards they have composed for later reuse, they can promote their dashboards as gallery entries which makes them publicly accessible; and, if they have the appropriate permissions, they can directly import new datasets into MyGOD.
		Developement of MyGOD has been funded by the <a href="https://www.biogenouest.org/">BioGenOuest</a> network, and the Institut Français de Bioinformatique, and been carried out by personnel of the <a href="https://abims.sb-roscoff.fr">ABiMS</a> platform, with contributions from the <a href="https://bioinfo.ifremer.fr/">Service de Bioinformatique de l'IFREMER</a> and the <a href="https://www.mio.osupytheas.fr/en">Mediterranean Institute of Oceanography</a>.
           <br/>
	    MyGOD can be installed from a Docker image, following the steps documented at <a href="https://gitlab.com/mygod-biodiv/mygod-docker">https://gitlab.com/mygod-biodiv/mygod-docker</a><br/>
	    More information about how to format data suitable for import in MyGOD can be found at <a href="https://gitlab.com/mygod-biodiv/mygod-data-formats">https://gitlab.com/mygod-biodiv/mygod-data-formats</a>
            </p>

            <div class="h-25 mr-4"></div>
            <div class="col row mt-4 mb-4">
                <a class="btn btn-primary w-25 btn-color-primary mr-1 text-size-container  "
                   href="{% url 'mygodapp:search' %}">Search by
                    taxon</a>
            </div>
        </div>
            <!-- What's new block -->
        <div class=" col border border-container-grey rounded mt-3 ">
            <h3>What's New ?</h3>
            <div id="latestnews" class="p-3 mb-2 bg-warning text-dark">
                <table>
                    <tr id="latestnewsrow">
                    </tr>
                </table>

            </div>
            <script>
            $(document).ready(function() {

                let jsonurl="{% static 'changelog.json' %}";

                let cssurl=jsonurl.replace('json','css');
                let head = document.getElementsByTagName('head')[0];

                /*
                    Start by loading the CSS style sheet dynamically.
                */
                let style = document.createElement('link');
                style.href = cssurl;
                style.type = 'text/css';
                style.rel = 'stylesheet';
                head.append(style);

                let latestnewsrow=$("#latestnewsrow");
                $.getJSON(jsonurl,function (data) {
                    let latestnewsitem = data.data[0];
                    $("<td>" + latestnewsitem.date + "</td>").addClass("newsitemdate").appendTo(latestnewsrow);
                    $("<td>" + latestnewsitem.description + "</td>").addClass("newsitemdescription").appendTo(latestnewsrow);
                });
            });
            </script>
        </div>

        <div class=" col border border-container-grey rounded mt-3 ">
                <script type="application/javascript">
                    function map_init(map, options) {
                        let baselayers = {};
                        {%  for baselayer in baselayers %}
                            leafletbaselayer = L.tileLayer('{{ baselayer.url }}',{label: '{{ baselayer.name }}', attribution: '{{ baselayer.attribution }}'}).addTo(map);
                            baselayers['{{ baselayer.name }}']=leafletbaselayer;
                        {%  endfor %}
                        if (Object.keys(baselayers).length == 0) {
                            baselayers = null;
                        }
                        let markersbylayer = {};
                        let dataset = '';
                        {% for marker in markers %}
                            dataset='{{marker.dataset}}';
                            if (!(dataset in markersbylayer)) {
                                markersbylayer[dataset]=[];
                            }
                            markersbylayer[dataset].push({'latitude': {{marker.latitude}}, 'longitude': {{marker.longitude}},
                                                    'label': "{{marker.dataset}} / {{marker.station}}"});

                        {% endfor %}
                        let layerGroups = {};
                        let minLat = 90;
                        let maxLat = -90;
                        let minLon = 180;
                        let maxLon = -180;
			            let layerGroupIndex = 0;
			            let layerMarkerOptions = [ { 'color' : '#c5283d', 'radius' : 4, 'weight' : 2}, { 'color' : '#255F85', 'radius' : 6, 'weight' : 2}, { 'color' : '#dc582a', 'radius': 8, 'weight': 2}, { 'color' : '#481D24', 'radius': 10, 'weight': 2}, { 'color' : '#E9724C', 'radius': 8, 'weight': 2}];
			            let maxLayerGroupIndex = Object.keys(layerMarkerOptions).length;
                        for (const dataset of Object.keys(markersbylayer).sort()) {
                            let layermarkers = markersbylayer[dataset];
                            let layerGroup = L.layerGroup().addTo(map);
                            layerGroups["<span style='color: "+layerMarkerOptions[layerGroupIndex]['color']+"'>"+dataset+"</span>"]=layerGroup;
                            for (const layermarker of layermarkers) {
                                if (layermarker.latitude < minLat) {
                                    minLat = layermarker.latitude;
                                }
                                if (layermarker.latitude > maxLat) {
                                    maxLat = layermarker.latitude;
                                }
                                if (layermarker.longitude < minLon) {
                                    minLon = layermarker.longitude;
                                }
                                if (layermarker.longitude > maxLon) {
                                    maxLon = layermarker.longitude;
                                }
                                let marker = L.circleMarker([layermarker.latitude, layermarker.longitude],layerMarkerOptions[layerGroupIndex]).bindPopup(layermarker.label);
                                layerGroup.addLayer(marker);
                                L.control
                            }
			                layerGroupIndex++;
			                if (layerGroupIndex >= maxLayerGroupIndex) {
					            layerGroupIndex=0;
			                }
                        }
                        L.control.layers(baselayers,layerGroups).addTo(map);
                        if (minLat == maxLat) {
                            minLat = minLat-1.0;
                            maxLat = maxLat+1.0;
                        }
                        if (minLon == maxLon) {
                            minLon = minLon-1.0;
                            maxLon = maxLon+1.0;
                        }

                        map.fitBounds([[minLat,minLon],[maxLat,maxLon]]);
                    }
                </script>
                {% leaflet_map "map"  callback="window.map_init" %}
        </div>

        <div class=" col border border-container-grey rounded mt-3 ">
            <h3>Available Datasets</h3>
            <table id="datasets" class="table table-striped table-bordered" style="width:100%">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Samples</th>
                    <th>First Sample</th>
                    <th>Last Sample</th>
                    <th>Occurrences</th>
                </tr>
                </thead>
                <tbody>
                    {% for dataset in datasets %}
                    <tr>
                        <td>{{dataset.name}}</td>
                        <td>{{dataset.description}}</td>
                        <td>{{dataset.samples|intcomma}}</td>
                        <td>{{dataset.first_sample_date}}</td>
                        <td>{{dataset.last_sample_date}}</td>
                        <td>{{dataset.occurrences|intcomma}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <script type="application/javascript">
                $('#datasets').DataTable();
            </script>
        </div>

    </div>





<div class=" container-fluid vdgob-body ">
    <div class="row mt-4 mb-2 ml-2">
        <div class=" col border rounded border-5  mr-2 vdgob-body border-container-grey text-bold"
             id="resume_database">
            <div class="h-50 mb-1 row ">
                <div class="col mr-1 border rounded container-graph-lightblue border-container-lightblue">
                    <text class="text-white">Taxonomies:
                    </text>
                    <br>
                    <text class="text-white h4 text-white font-weight-bold"> {{ number_taxonomy }}</text>


                </div>
                <div class="col border text-lightblue appear-wrapper rounded container-graph-white border-container-white right bottom">
                    <text>Taxons:</text>
                    <br>
                    <text class="h4 font-weight-bold"> {{ total_taxon_count }}</text>
                </div>
            </div>
            <div class="h-50 mb-1 row ">
                {% for taxonomy in taxonomies %}
                <div class="col appear-wrapper text-lightblue left bottom border rounded border-container-white container-graph-white mr-1">
                    <text class="text-bold h5">{{ taxonomy.name }}</text>
                    <br>
                    Taxa: {{ taxonomy.referenced_taxon }}
                    <br>
                    Sequences: {{ taxonomy.sequence_number }}
                    <p class="appear-on-hover" style="font-size: small">
                        Ranks: {% for rank in taxonomy.rank_description %}{{ rank }} {% endfor %}</p>
                </div>
                <br>
                {% if forloop.counter|divisibleby:2 %}
            </div>
            <div class="h-50 mb-1 row ">{% endif %}

                {% endfor %}
            </div>

        </div>

        <div class=" col border rounded border-5 text-white mr-2 ml-1 vdgob-body border-container-grey text-bold"
             id="resume_database">
            <div class="h-50 mb-1 row ">
                <div class="col border appear-wrapper text-white rounded container-graph-orange border-container-orange right bottom">
                    <text>Time Series:</text>
                    <br>
                    <text class="h4 font-weight-bold">{{ meta_temporal_dataset }}</text>

                </div>
                <div class="col mr-1  border text-orange rounded container-graph-orange border-container-orange">
                    <text class="text-white">Spatial Datasets:</text>
                    <br>
                    <text class="h4 text-white font-weight-bold">{{ meta_geographical_dataset }}</text>

                </div>
            </div>
            <div class="h-50 mb-1 row ">
                <div class="col mr-1  border text-orange rounded border-white container-graph-white">
                    <text class="">Mixed Datasets:</text>

                </div>
                <div class="col border text-white rounded container-graph-orange border-container-orange">
                    <text class="text-white">Morphology based Datasets:</text>
                    <br>


                </div>
            </div>
        </div>


        <div class="col ml-2 text-bold vdgob-body mr-2 ">
            <div class="row h-50 mb-1">
                <div class="col appear-wrapper left bottom border text-white rounded border-container-lightblue container-graph-lightblue mr-1">
                    <text class="text-white">Samples:</text>
                    <br>
                    <text class="h4 text-white font-weight-bold">{{ total_sampling }}</text>
                    <p class="appear-on-hover">

                    </p>
                </div>
                <div class="col border appear-wrapper rounded text-lightblue border-white container-graph-white rounded right bottom ">
                    <text class="">Environmental Parameters:</text>
                    <br>
                    <text class="h4 font-weight-bold">{{ parameter_count }}</text>
                    <p class="appear-on-hover">
                        {% for parameter in parameters %}
                        {{ parameter }},
                        {% endfor %}
                    </p>
                </div>
            </div>
            <div class="row h-50 mb-1">
                <div class="col border appear-wrapper text-lightblue rounded border-white container-graph-white rounded right bottom ">
                    <text class="">Sampling Stations:</text>
                    <br>
                    <text class="h4 font-weight-bold">{{ sampling_station }}</text>
                    <p class="appear-on-hover">


                    </p>
                </div>
                v>
        </div>
    </div>
</div>
</div>


{% endblock %}
