{% extends 'base.html' %}
{% load static %}
{% block extra_head %}
{% endblock %}
{% block title %}

{% endblock %}

{% block sidebar %}
    {% include "sidebar.html" %}
{% endblock %}

{% block content %}
    <h1>Dataset Import Progress</h1>
    <div class="card" style="width: 100%">
        <div class="card-body">
            <h5 class="card-title">Message Types to be Displayed</h5>
            <div class="card-text">
                <input type="checkbox" data-toggle="toggle" data-width="12em" data-onstyle="danger" value="" id="ErrorChecked" data-on="Errors" data-off="No Errors" checked>
                <input type="checkbox" data-toggle="toggle" data-width="12em" data-onstyle="warning" value="" id="WarningChecked" data-on="Warnings" data-off="No Warnings" checked>
                <input type="checkbox" data-toggle="toggle" data-width="12em" data-onstyle="success" value="" id="InfoChecked" data-on="Info" data-off="No Info" checked>
                <input type="checkbox" data-toggle="toggle" data-width="12em" data-onstyle="secondary" value="" id="DebugChecked" data-on="Debug" data-off="No Debug" >
            </div>
        </div>
    </div>
    <div class="card" style="width: 100%">
        <div class="card-body">
            <h5 class="card-title">Log Messages</h5>
            <div id="dynamic-div">
            <pre>Import queued. Waiting for log messages.</pre>
            </div>
            <div>
                <b>Update status:</b> <span id="dynamic-div-status">Unknown</span>
            </div>
        </div>
    </div>
    <a class="btn mt-5 btn-primary btn-color-primary mr-1 text-size-container"
                   href="{% url 'mygodapp:user_page' %}">Back to User Page</a>
    <script>
        function update_dynamic_div() {
            $.ajax({
                type: 'GET',
                url: '{% url 'mygodapp:check_process' pid=uuid data_type=type dry_run=dry_run %}',
                success: function (data) {
                    let htmlContents = "<div class='import-log-messages'>";
                    let included = {};
                    included['error'] = document.getElementById('ErrorChecked').checked;
                    included['warning'] = document.getElementById('WarningChecked').checked;
                    included['info'] = document.getElementById('InfoChecked').checked;
                    included['debug'] = document.getElementById('DebugChecked').checked;

                    $.each(data['content'], function (index, value) {
                        let level = value['level'];
                        if (included[level]) {
                            let logentryclass='log-entry log-entry-'+level;
                            let timestamp = 'Unknown date/time';
                            if (value['timestamp']) {
                                timestamp=value['timestamp'];
                            }
                            let message = "Missing message";
                            if (value['message']) {
                                message = value['message'];
                            }
                            htmlContents += "<p class='"+logentryclass+"'>"+level+" - "+timestamp+": "+message+"</p>";
                        }
                    });
                    htmlContents += "</div>";
                    $('#dynamic-div').html(htmlContents);
                    if (!data["done"]) {
                        $("#dynamic-div-status").html("Still in progress...")
                        setTimeout(update_dynamic_div, 5000);
                    } else {
                        $("#dynamic-div-status").html("All done.")
                    }
                }
            });
        }
        $('#ErrorChecked').change(update_dynamic_div);
        $('#WarningChecked').change(update_dynamic_div);
        $('#InfoChecked').change(update_dynamic_div);
        $('#DebugChecked').change(update_dynamic_div);
        update_dynamic_div();



    </script>

{% endblock %}

