{% extends 'base.html' %}
{% load static %}
{% load leaflet_tags %}
{% block title %}

{% endblock %}
{% block sidebar %}
    {% include "sidebar.html" %}
{% endblock %}
{% block content %}

    <div class="container-fluid">
        <div class="row"><h1>Metabarcode Dataset Import</h1>
            <div class="alert alert-warning">Please note: when importing a dataset for the first time, MyGOD will perfom a dry-run import to check the format and the contents of the provided data files.
            Only after a successful dry-run will it be possible to perform the actual data import.</div>

        <div>Please select the 4 files needed to import a metabarcode dataset : a tabular file with the description of the sampling events,
            a tabular file with data about amplicons / reads / taxonomy matching identified in the samples ; a JSON file with metadata
            describing the dataset and a JSON file describing the layout of the columns in the data files.
            More information on formatting data files can be found on the <a href="https://gitlab.com/mygod-biodiv/mygod-data-formats" target="mygod_docs">MyGOD Data Formats</a> project.

        </div></div>
        <hr>
        <form action="{% url 'mygodapp:import_metabar_data' %}" enctype="multipart/form-data" method="post">
            {% csrf_token %}
            {{ form.as_p }}


            <button class="btn btn-color-primary text-white" type="submit" value="Submit">Import</button>
        </form>

        {{ form.errors }}
        {{ form.non_field_errors }}

    </div>
    <a class="btn mt-5 btn-primary btn-color-primary mr-1 text-size-container"
       href="{% url 'mygodapp:user_page' %}">Back to User Page</a>
{% endblock %}