{% extends 'dataset_description.html' %}
{% load static %}
{% load leaflet_tags %}

{% block content %}

<script type="text/javascript">
    function map_init(map, markers) {
        // zoom to point & add it to map
        console.log("calling map init", markers)
        let markerArray = []
        for(let marker of markers){
            let markerObj = L.marker([marker['latitude'],marker['longitude']])
            markerArray.push(markerObj)
        }
        let group = L.featureGroup(markerArray).addTo(map);
        let bounds = group.getBounds()
        if (markerArray.length === 1){
            bounds._northEast.lat += 1
            bounds._northEast.lng += 1
            bounds._southWest.lat -= 1
            bounds._southWest.lng -= 1
        }
        map.fitBounds(bounds)

    }

    {%for campaign in campaign_list %}

    function {{ campaign.callback }}(map){
       let campaign_marker = {{ campaign.markers|safe }}
        map_init(map, campaign_marker)
    }
    {% endfor %}

</script>

<h2 class="text-body ">Metabarcode Data</h2>

<div>What is Barcoding ?</div>
{% for campaign in campaign_list  %}

<div class="col border border-container-grey rounded mr-1" id="metabar-accordion">
    <div class="bs-example">
        <div class="accordion container-graph-white border-white" id="accordionfiledescription{{ forloop.counter }}">
            <div class="card">
                <div class="card-header" id="headingThree">
                    <h2 class="mb-0">
                        <button type="button" class="btn btn-link collapsed" data-toggle="collapse"
                                data-target="#collapsedescriptionfile{{ forloop.counter }}"><i
                                class="fa fa-plus"></i>{{ campaign.campaign_name }}
                        </button>
                    </h2>
                </div>
                <div id="collapsedescriptionfile{{ forloop.counter }}" class="collapse show" aria-labelledby="headingThree"
                     data-parent="#accordionfiledescription{{ forloop.counter}}">
                    <div class="card-body">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-9">
                                    <div class="row">
                                        <div class="col-5">
                                            <text class="">Site :</text>
                                            <text class="text-bold">{{ campaign.site }}</text>
                                            <hr>
                                            <text class="">From :</text>
                                            <text class="text-bold"> {{ campaign.date_start }}</text>
                                            <hr>
                                            <text>To :</text>
                                            <text class="text-bold">{{ campaign.date_end }}</text>
                                            <hr>
                                            <text class="">Type :</text>
                                            <text class="text-bold">{{ campaign.type }}</text>
                                            <hr>
                                            Physico-chemicals parameters :
                                        {% for pc_parameter in campaign.related_pc_parameter %}
                                        <text class="font-italic">{{ pc_parameter }},</text>
                                        {% endfor %}
                                        </div>
                                        <div class="col-7"> Description : </div>
                                    </div>



                                </div>
                                <div class="card col-3">
                                    {% leaflet_map campaign.div_id callback=campaign.callback %}
                                </div>
                            </div>
                            <div class=" mt-3 row">
                                {% for dataset in campaign.datasets %}

                                <div class="container-fluid mt-3 rounded pl-3">
                                    <div class=" container-dataset-title rounded-top  pl-2 pt-2 pb-2 bg-secondary">
                                        <text class="font-weight-bold">{{ dataset.name }}</text>
                                    </div>
                                    <div class="border pl-2 pt-1">
                                        <text class="font-weight-light">
                                            Related publication :
                                            {% for publication in dataset.related_publications %}
                                            <a class="text-bold" href="{{ publication.link }}">{{ publication.title }}</a>
                                             <small class="text-muted">- {{ publication.author}}</small>
                                            {% endfor %}
                                            <br>
                                            Marker : {{ dataset.marker }}
                                            <br>
                                            Fraction size : {{ dataset.fraction }}
                                            <br>
                                            DOI :
                                            <br>
                                            Taxonomy: {{ dataset.taxonomy.name}}
                                            <br>

                                        </text>
                                    </div>
                                </div>
                                <hr class="tagline-divider"/>

                                {% endfor %}
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}



{% endblock %}
