{% extends 'base.html' %}
{% load static %}
{% load leaflet_tags %}
{% block title %}

    <div class="box">
        <div class="col-lg-12 text-center">
            <div id="bloc_page" style="position: relative">
                <header>
                    <h1>
                        Sign In
                    </h1>
                </header>
            </div>

        </div>
    </div>






{% endblock %}
{% block sidebar %}
    {% include "sidebar.html" %}
{% endblock %}

{% block content %}
                        <p class="text-modal text-center">Forgotten your password? Enter your email address below, and we'll
                            email instructions for setting
                            a new one.</p>
                        <form method="POST" action="{% url 'mygodapp:password_reset' %}">
                            {% csrf_token %}
                            <div class="row mb-3 mt-2 ">
                                <div class="col-1"></div>
                                <div class="col-2">Email</div>
                                <div class="input-group col-7">
                                    <div class="input-group-prepend ml-2">
                                        <span class="input-group-text fa fa-at icon-fa" id="basic-addon1"></span>
                                        {{ password_form.email }}
                                    </div>
                                </div>
                            </div>
                            <button class="btn btn-primary btn-color-primary" type="submit">Send email</button>

                        </form>
{% endblock %}
