{% extends 'base.html' %}
{% load static %}
{% load leaflet_tags %}
{% block title %}

{% endblock %}
{% block sidebar %}
    {% include "sidebar.html" %}
{% endblock %}
{% block content %}

    <div class="container-fluid">
        <div class="row"><h1>Physico-chemical Dataset Import</h1>
            <p>Please select the tabular data file and the table configuration file (JSON) to use. Only data that matches
                an already existing metabarcode sampling event will be considered. Other data will be skipped.
                More information on formatting data files can be found on the <a href="https://gitlab.com/mygod-biodiv/mygod-data-formats" target="mygod_docs">MyGOD Data Formats</a> project.
            </p>
        </div>
        <hr>
        <form action="{% url 'mygodapp:import_physico_chemical_data' %}" enctype="multipart/form-data" method="post">
            {% csrf_token %}
            {{ form.as_p }}


            <button class="btn btn-color-primary text-white" type="submit" value="Submit">Import</button>
        </form>

        {{ form.errors }}
        {{ form.non_field_errors }}

    </div>

    <a class="btn mt-5 btn-primary btn-color-primary mr-1 text-size-container"
       href="{% url 'mygodapp:user_page' %}">Back to User Page</a>
{% endblock %}