{% extends 'base.html' %}
{% load static %}
{% load leaflet_tags %}
{% block title %}

{% endblock %}
{% block sidebar %}
{% include "sidebar.html" %}
{% endblock %}
{% block content %}

<form action="{% url 'mygodapp:reject_gallery_entry' %}" enctype="multipart/form-data" method="post">
    {% for hidden in form.hidden_fields %}
    {{ hidden}}
    {% endfor %}
    {% csrf_token %}
    {{ foobar|safe }}

    <div class="form-row">
        <div class="form-group col">
            <label>Text</label>
            {{ form.text }}
        </div>
    </div>

    {{ form.uuid }}


    <button class="btn btn-color-primary text-white" type="submit" value="Submit">Send</button>
</form>

{% endblock %}