{% extends 'base.html' %}
{% load leaflet_tags %}
{% block sidebar %}
{% include "sidebar.html" %}
{% endblock %}
{% block content %}
    <script src="https://cdn.jsdelivr.net/gh/xcash/bootstrap-autocomplete@v2.3.7/dist/latest/bootstrap-autocomplete.min.js"></script>


    <div class="container center_div mt-2">
        <form action="{% url 'mygodapp:searchsequence' %}" method="get"
              accept-charset="utf-8">
            <hr class="tagline-divider">
            <div>
                <text class="text-center text-darkblue text-bold">Select data</text>
            </div>
            <hr class="tagline-divider">
            <div>
                {{ sequenceform.sequence }}
            </div>
            <hr class="tagline-divider">
            <input type="submit" value="Search">
        </form>
    </div>

    <script>
        $('.basicAutoComplete').autoComplete(
            {minLength: 3}
        );
        $('.dropdown-menu').css({'top': 'auto', 'left': 'auto'})
    </script>
{% endblock %}
