<div class="" id="">
    <!-- Sidebar -->
    <div id="sidebar-container" class="sidebar-expanded none md-block container-graph-lightblue">
        <ul class="list-group">
            <!-- Separator with title -->
            <li class="list-group-item sidebar-separator-title text-white d-flex align-items-center menu-collapsed">
                <small>MAIN MENU</small>
            </li>

            <a href="{% url 'mygodapp:index' %}"
               class="container-graph-lightblue list-group-item list-group-item-action">
                <div class="d-flex w-100 justify-content-start align-items-center">
                    <span class="fa fa-anchor fa-fw mr-3"></span>
                    <span class="menu-collapsed">Home</span>
                </div>
            </a>

            <a href="{% url 'mygodapp:search' %}"
               class="container-graph-lightblue list-group-item list-group-item-action">
                <div class="d-flex w-100 justify-content-start align-items-center">
                    <span class="fa fa-search fa-fw mr-3"></span>
                    <span class="menu-collapsed">Search</span>
                </div>
            </a>

            <a href="{% url 'mygodapp:gallery' %}"
               class="container-graph-lightblue list-group-item list-group-item-action">
                <div class="d-flex w-100 justify-content-start align-items-center">
                    <span class="fa fa-image fa-fw mr-3"></span>
                    <span class="menu-collapsed">Gallery</span>
                </div>
            </a>


            <a href="#submenu2" data-toggle="collapse" aria-expanded="false"
               class="container-graph-lightblue list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-start align-items-center">
                    <span class="fa fa-table fa-fw mr-3"></span>
                    <span class="menu-collapsed">Datasets</span>
                    <span class="submenu-icon ml-auto"></span>
                </div>
            </a>
            <!-- Submenu content -->
            <div id='submenu2' class="collapse sidebar-submenu">
                <a href="{% url 'mygodapp:description' %}"
                   class="list-group-item list-group-item-action container-graph-lightblue text-white">
                    <span class="fa fa-dna fa-fw mr-3"></span>
                    <span class="menu-collapsed text-sidenav">Campaigns</span>
                    <span class="submenu-icon ml-auto"></span>
                </a>
            </div>

            <!-- Separator with title -->
            <li class="list-group-item text-white sidebar-separator-title d-flex align-items-center menu-collapsed">
                <small>OPTIONS</small>
            </li>

            <a href="#submenuhelp" data-toggle="collapse" aria-expanded="false"
               class="container-graph-lightblue list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-start align-items-center">
                    <span class="fa fa-book fa-fw mr-3"></span>
                    <span class="menu-collapsed">Help</span>
                    <span class="submenu-icon ml-auto"></span>
                </div>
            </a>
            <div id='submenuhelp' class="collapse sidebar-submenu">
                <a href="{% url 'mygodapp:documentation' %}"
                   class="list-group-item list-group-item-action container-graph-lightblue text-white">
                    <span class="fa fa-dna fa-fw mr-3"></span>
                    <span class="menu-collapsed text-sidenav">What is MyGOD</span>
                    <span class="submenu-icon ml-auto"></span>
                </a>
                <a href="{% url 'mygodapp:documentation' %}#taxonbasedsearchandvisualisation"
                   class="list-group-item list-group-item-action container-graph-lightblue text-white">
                    <span class="fa fa-dna fa-fw mr-3"></span>
                    <span class="menu-collapsed text-sidenav">Taxon Search</span>
                    <span class="submenu-icon ml-auto"></span>
                </a>
                <a href="{% url 'mygodapp:documentation' %}#taxomgt"
                   class="list-group-item list-group-item-action container-graph-lightblue text-white">
                    <span class="fa fa-dna fa-fw mr-3"></span>
                    <span class="menu-collapsed text-sidenav">Taxonomy Management</span>
                    <span class="submenu-icon ml-auto"></span>
                </a>
            </div>

            <a href="mailto:contact.mygod@sb-roscoff.fr" class="container-graph-lightblue list-group-item list-group-item-action">
                <div class="d-flex w-100 justify-content-start align-items-center">
                    <span class="fa fa-envelope-o fa-fw mr-3"></span>
                    <span class="menu-collapsed">Contact</span>
                </div>
            </a>
            <a href="#" class="container-graph-lightblue list-group-item list-group-item-action">
                <div class="d-flex w-100 justify-content-start align-items-center">
                    <span class="fa fa-users fa-fw mr-3"></span>
                    <span class="menu-collapsed">Credits</span>
                </div>
            </a>

            <a href="{% url 'mygodapp:changelog' %}"
               class="container-graph-lightblue list-group-item list-group-item-action">
                <div class="d-flex w-100 justify-content-start align-items-center">
                    <span class="fa fa-rss fa-fw mr-3"></span>
                    <span class="menu-collapsed">Latest Changes</span>
                </div>
            </a>

        </ul>
    </div>
</div>