{% extends 'base.html' %}
{% load static %}
{% load leaflet_tags %}
{% block title %}

<div class="box">
    <div class="col-lg-12 text-center">
        <div id="bloc_page" style="position: relative">
            <header>
                <h1>
                </h1>
            </header>
        </div>

    </div>
</div>


{% endblock %}
{% block sidebar %}
{% include "sidebar.html" %}
{% endblock %}

{% block content %}
<form method="POST" action="{% url 'mygodapp:sign_up' %}">
    {% csrf_token %}
    <div class="row mb-3">
        <div class="col-1"></div>
        <div class="col-3">First name</div>
        <div class="input-group col-6">
            <div class="input-group-prepend ml-2">
                <span class="input-group-text fa fa-user icon-fa" id="basic-addon1"></span>
                {{ register_form.first_name }}
            </div>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-1"></div>
        <div class="col-3">Last name</div>
        <div class="input-group col-6">
            <div class="input-group-prepend ml-2">
                <span class="input-group-text fa fa-user icon-fa" id="basic-addon1"></span>
                {{ register_form.last_name }}
            </div>
        </div>
    </div>

    {% for error in request.register_form.username.errors %}
    <div class="alert alert-success">
        <a class="close" href="#" data-dismiss="alert">×</a>
        {{ error }}
    </div>
    {% endfor %}
    <div class="row mb-3">
        <div class="col-1"></div>
        <div class="col-3">Username</div>
        <div class="input-group col-6">
            <div class="input-group-prepend ml-2">
                <span class="input-group-text fa fa-user icon-fa" id="basic-addon1"></span>
                {{ register_form.username }}
            </div>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-1"></div>
        <div class="col-3">Email</div>
        <div class="input-group col-6">
            <div class="input-group-prepend ml-2">
                <span class="input-group-text fa fa-at icon-fa" id="basic-addon1"></span>
                {{ register_form.email }}
            </div>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-1"></div>
        <div class="col-3">Password</div>
        <div class="input-group col-6">
            <div class="input-group-prepend ml-2">
                <span class="input-group-text fa fa-lock icon-fa" id="basic-addon1"></span>
                {{ register_form.password1 }}
            </div>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-1"></div>
        <div class="col-3">Password</div>
        <div class="input-group col-6">
            <div class="input-group-prepend ml-2">
                <span class="input-group-text fa fa-lock icon-fa" id="basic-addon1"></span>
                {{ register_form.password2 }}
            </div>
        </div>
    </div>


    <div class="text-center mb-2">
        <button class="btn btn-primary btn-color-primary" type="submit">Register</button>
    </div>
</form>

{{ register_form.errors }}
{{ register_form.non_field_errors }}
{% endblock %}