{% extends 'base.html' %}
{% load static %}
{% load leaflet_tags %}
{% block title %}

    <div class="box">
        <div class="col-lg-12 text-center">
            <div id="bloc_page" style="position: relative">
                <header>
                    <h1>
                        Sign In
                    </h1>
                </header>
            </div>

        </div>
    </div>


{% endblock %}
{% block sidebar %}
    {% include "sidebar.html" %}
{% endblock %}

{% block content %}
    <form method="POST" action="{% url 'mygodapp:sign_in' %}">
        {% csrf_token %}
        <div class="row mb-3">
            <div class="col-1"></div>
            <div class="col-2"> Username</div>
            <div class="input-group col-7">
                <div class="input-group-prepend ml-2">
                    <span class="input-group-text fa fa-user icon-fa" id="basic-addon1"></span>
                    {{ login_form.username }}
                </div>
            </div>
        </div>
        <div class="row mb-0">
            <div class="col-1"></div>
            <div class="col-2">Password</div>
            <div class="input-group col-7">
                <div class="input-group-prepend ml-2">
                    <span class="input-group-text fa fa-lock icon-fa" id="basic-addon1"></span>
                    {{ login_form.password }}
                </div>

            </div>
        </div>

        {% for error in login_form.non_field_errors %}
            <p>{{ error }}</p>
        {% endfor %}


        <p class="text-center text-password mb-2" data-dismiss="modal" data-toggle="modal"
           data-target="#resetpasswordModal"><a
                href="{% url 'mygodapp:password_reset' %}">Forgot password ? </a>
        </p>

        <div class="text-center mb-2">
            <button class="btn btn-primary btn-color-primary" type="submit">Login</button>
        </div>
    </form>
{% endblock %}

