{% extends 'base.html' %}
{% load static %}
{% block title %}

{% endblock %}
{% block sidebar %}
    {% include "sidebar.html" %}
{% endblock %}
{% block content %}


    <div class="row">
        <div class="col container-graph-white rounded mr-5 ">
            <div class="row container-dataset-title rounded-top  pl-2 pt-2 pb-2 bg-secondary">
                <text class="font-weight-bold">Personal Information</text>
            </div>
            <div class="row">
                <div class="col-4">
                    <div>
                        <text class="text-bold">First name :</text>
                        {{ user.first_name }}
                    </div>
                    <div>
                        <text class="text-bold">Last name :</text>
                        {{ user.last_name }}
                    </div>
                </div>
                <div class="col-4">
                    <div>
                        <text class="text-bold">Username :</text>
                        {{ user.username }}
                    </div>
                    <div>
                        <text class="text-bold">Email :</text>
                        {{ user.email }}
                    </div>
                </div>
                <div class="col-4">
                    <div>
                        <text class="text-bold">Status :</text>
                        {% if publisher_status %} Publisher {% endif %}
                    </div>
                </div>
            </div>


        </div>
    </div>
    <div class="row mt-3">
        <div class="col container-graph-white rounded mr-5">
            <div class="row container-dataset-title rounded-top  pl-2 pt-2 pb-2 bg-secondary">
                <text class="font-weight-bold">My Dashboard</text>
            </div>
            <div class="row pt-2 pb-2 text-bold">
                <div class="col-3 border-right">Name</div>
                <div class="col-2 border-right"> Created</div>
                <div class="col-2 border-right"> Updated</div>
                <div class="col-4">Actions</div>
            </div>
            {% for dashboard in dashboard_list %}
                <div class="row container-graph-white rounded border">
                    <div class="col-3 border-right">{{ dashboard.name }}</div>
                    <div class="col-2 border-right"> {{ dashboard.created }}</div>
                    <div class="col-2 border-right"> {{ dashboard.last_saved }}</div>
                    <div class="col-4">
                        <a href="{% url 'mygodapp:search' %}?uuid={{ dashboard.uuid }}&type=saved_dashboard"
                           class="btn btn-color-primary text-white">Show</a>
                        {% if dashboard.shared is not True %}
                            <a href="{% url 'mygodapp:share_dashboard' uuid=dashboard.uuid status='share' %}"
                               class="btn btn-color-primary text-white">Share</a>
                        {% else %}
                            <a href="{% url 'mygodapp:share_dashboard' uuid=dashboard.uuid status='unshare' %}"
                               class="btn btn-color-primary text-white">Unshare</a>
                        {% endif %}

                        {% if dashboard.promoted is not True %}
                            <a href="{% url 'mygodapp:remove_dashboard' uuid=dashboard.uuid %}"
                               class="text-white btn btn-danger">Remove</a>
                            <a href="{% url 'mygodapp:edit_gallery_entry' status='promote' %}?uuid={{ dashboard.uuid }}&publication_statut=private"
                               class="btn btn-color-primary text-white">Promote</a>
                        {% else %}
                            <a href=""
                               class="btn btn-danger disabled text-white">Remove</a>
                            <a href=""
                               class="text-white btn btn-color-primary disabled">Promote</a>
                        {% endif %}

                    </div>
                </div>

            {% endfor %}
        </div>
    </div>

    <div class="row mt-3 ">
        <div class="col container-graph-white rounded mr-5">
            <div class="row container-dataset-title rounded-top  pl-2 pt-2 pb-2 bg-secondary">
                <text class="font-weight-bold">My Gallery Entries</text>
            </div>
            <div class="row pt-2 pb-2 text-bold">
                <div class="col-3 border-right">Name</div>
                <div class="col-2 border-right"> Saved</div>
                <div class="col-3 border-right"> Publication State</div>
                <div class="col-4">Actions</div>
            </div>
            {% for entry in gallery_entries %}

                <div class="row container-graph-white rounded border">
                    <div class="col-3 border-right">
                        {{ entry.title }}
                    </div>
                    <div class="col-2 border-right"> {{ entry.last_saved }}</div>
                    <div class="col-3 border-right"> {% if entry.awaiting_publication %}
                        Waiting for Approbation
                    {% else %}
                        {% if entry.status == 'published' %}
                            Approved
                        {% else %}
                            {% if entry.rejected %}
                                Rejected
                            {% else %}
                                Not published
                            {% endif %}
                        {% endif %}
                    {% endif %}
                    </div>
                    <div class="col-4">

                        {% if entry.status == 'published' %}
                            <a href="{% url 'mygodapp:change_gallery_status' status='private' uuid=entry.bind_dashboard.uuid %}"
                               class="text-white btn btn-color-primary">Unpublished</a>
                            <a href="{% url 'mygodapp:change_gallery_status' status='shared' uuid=entry.bind_dashboard.uuid %}"
                               class="btn btn-color-primary text-white">Share</a>
                        {% else %}
                            {% if entry.status == 'private' %}

                                <a href="{% url 'mygodapp:change_gallery_status' status='published' uuid=entry.bind_dashboard.uuid %}"
                                   class="text-white btn btn-color-primary">Publish</a>
                                <a href="{% url 'mygodapp:change_gallery_status' status='shared' uuid=entry.bind_dashboard.uuid %}"
                                   class="text-white btn btn-color-primary">Share</a>
                            {% else %}
                                <a href="{% url 'mygodapp:change_gallery_status' status='published' uuid=entry.bind_dashboard.uuid %}"
                                   class="text-white btn btn-color-primary">Publish</a>
                                <a href="{% url 'mygodapp:change_gallery_status' status='private' uuid=entry.bind_dashboard.uuid %}"
                                   class="text-white btn btn-color-primary">Unshare</a>


                            {% endif %}
                            <a href="{% url 'mygodapp:edit_gallery_entry' status='edit' %}?uuid={{ entry.bind_dashboard.uuid }}"
                               class="text-white btn btn-color-primary">Edit</a>
                        {% endif %}
                        <a href="{% url 'mygodapp:remove_gallery_entry' uuid=entry.bind_dashboard.uuid %}"
                           class="text-white btn btn-danger">Remove</a>

                    </div>
                </div>

            {% endfor %}
        </div>
    </div>


    {% if publisher_status %}
        <div class="row mt-3 ">
            <div class="col container-graph-white rounded mr-5">
                <div class="row container-dataset-title rounded-top  pl-2 pt-2 pb-2 bg-secondary">
                    <text class="font-weight-bold">Awaiting Publication Gallery Entries</text>
                </div>
                <div class="row pt-2 pb-2 text-bold">
                    <div class="col-4 border-right">Name</div>
                    <div class="col-2 border-right"> Created</div>
                    <div class="col-2 border-right"> By</div>
                    <div class="col-4">Actions</div>
                </div>
                {% for entry in gallery_awaiting %}

                    <div class="row container-graph-white rounded border">
                        <div class="col-4 border-right">
                            {{ entry.title }}
                        </div>
                        <div class="col-2 border-right">
                            {{ entry.last_saved }}
                        </div>

                        <div class="col-2 border-right">
                            {{ entry.bind_dashboard.user.first_name }} {{ entry.bind_dashboard.user.last_name }}

                        </div>
                        <div class="col-4">
                            <button type="button" class="btn btn-color-primary text-white">
                                <a href="{% url 'mygodapp:search' %}?uuid={{ entry.bind_dashboard.uuid }}&type=gallery_entry"
                                   class="text-white">Show</a>
                            </button>
                            <button type="button" class="btn btn-color-primary text-white">
                                <a href="{% url 'mygodapp:change_gallery_status' status='published' uuid=entry.bind_dashboard.uuid %}"
                                   class="text-white">Approve</a>
                            </button>
                            <button type="button" class="btn btn-warning">
                                <a href="{% url 'mygodapp:reject_gallery_entry' %}?uuid={{ entry.bind_dashboard.uuid }}"
                                   class="text-white">Reject</a>
                            </button>
                        </div>


                    </div>

                {% endfor %}
            </div>
        </div>
    {% endif %}

    <div class="row mt-3">
        <div class="col container-graph-white rounded mr-5">
            <div class="row container-dataset-title rounded-top  pl-2 pt-2 pb-2 bg-secondary">
                <text class="font-weight-bold">Shared Dashboards</text>
            </div>
            <div class="row pt-2 pb-2 text-bold">
                <div class="col-6 border-right">Name</div>

                <div class="col-6">Actions</div>
            </div>
            {% for dashboard in dashboard_shared %}
                <div class="row container-graph-white rounded border ">
                    <div class="col-6 border-right">{{ dashboard.name }}</div>
                    <div class="col-6">
                        <a href="{% url 'mygodapp:search' %}?uuid={{ dashboard.uuid }}&type=saved_dashboard"
                           class="btn btn-color-primary text-white">Show</a>
                    </div>
                </div>

            {% endfor %}
        </div>
    </div>

    <div class="row mt-3">
        <div class="col container-graph-white rounded mr-5">
            <div class="row container-dataset-title rounded-top  pl-2 pt-2 pb-2 bg-secondary">
                <text class="font-weight-bold">My Datasets</text>
            </div>
            <div class="row pt-2 pb-2 text-bold">
                <div class="col-6 border-right">Name</div>

                <div class="col-6">Actions</div>
            </div>
            {% for dataset in dataset_owned %}
                <div class="row container-graph-white rounded border ">
                    <div class="col-6 border-right">{{ dataset.name }}</div>
                    <div class="col-6">

                        <button type="button" class="btn btn-color-primary text-white">
                            <a href="{% url 'mygodapp:modify_metadata_dataset' %}?dataset_name={{ dataset.description }}"
                               class="text-white">Modify Metadata</a>
                        </button>
                        <button type="button" class="btn  btn-danger text-white" data-toggle="modal"
                                data-target="#removeModal{{ dataset.id }}">
                            Remove Dataset
                        </button>
                        <div class="modal fade" id="removeModal{{ dataset.id }}" tabindex="-1" role="dialog"
                             aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Delete {{ dataset.name }} ?</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        You're about to remove {{ dataset.name }}. Be aware that all related, saved
                                        dashboards and
                                        gallery entries won't be accessible anymore. Are you sure ?
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close
                                        </button>
                                        <button type="button" class="btn btn-danger"><a
                                                href="{% url 'mygodapp:remove_metabar_dataset' dataset_name=dataset.name %}"
                                                class="text-white">Yes, Remove Dataset</a></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button type="button" class="btn btn-color-primary text-white">
                            <a href="{% url 'mygodapp:modify_cluster_dataset' %}?dataset_name={{ dataset.name }}"
                               class="text-white">Edit Clusters</a>
                        </button>
                    </div>
                </div>

            {% endfor %}
        </div>
    </div>


    {% if importer %}
        <div class="row mt-3">
            <div class="col container-graph-white rounded mr-5">
                <div class="row container-dataset-title rounded-top  pl-2 pt-2 pb-2 bg-secondary">
                    <text class="font-weight-bold">My Imports</text>
                </div>
                <div class="row pt-2 pb-2 text-bold text-center">
                    <div class="col-3 border-right">Name</div>
                    <div class="col-3 border-right">Status (Dry run)</div>
                    <div class="col-3 border-right">Imported</div>
                    <div class="col-3">Actions</div>
                </div>
                {% for import in import_list %}
                    <div class="row container-graph-white rounded border ">
                        <div class="col-3 border-right">
                            {{ import.dataset_name }}
                        </div>
                        <div class="col-3 border-right">
                            {{ import.state }} ({{ import.dry_run }})
                        </div>
                        <div class="col-3 border-right">
                            {{ import.date }}

                        </div>
                        <div class="col-3 border-right text-center">
                            {% if import.files %}
                                <button type="button" class="btn btn-color-primary text-white">
                                    <a href="{% url 'mygodapp:display_logs' pid=import.uuid %}"
                                       class="text-white">Display Logs</a>
                                </button>
                                {% if import.state == "complete" and import.dry_run == True %}
                                    <button type="button" class="btn btn-warning">
                                        <a href="{% url 'mygodapp:import_dataset_in_database' pid=import.uuid data_type=import.type %}"
                                           class="text-white">Launch Import</a>
                                    </button>
                                {% endif %}
                                {% if import.state == "complete" %}
                                    <button type="button" class="btn  btn-danger text-white">
                                        <a href="{% url 'mygodapp:remove_files' pid=import.uuid %}"
                                           class="text-white">Remove Files</a>
                                    </button>
                                {% endif %}

                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
                <div class="row container-graph-white rounded border ">
                    <div class="col-2"></div>
                    <div class="col-4 text-center">
                        <button type="button" class="btn btn-color-primary text-white">
                            <a href="{% url 'mygodapp:import_metabar_data' %}"
                               class="text-white">Import Metabar Data</a>
                        </button>
                    </div>
                    <div class="col-4 text-center">
                        <button type="button" class="btn btn-color-primary text-white">
                            <a href="{% url 'mygodapp:import_physico_chemical_data' %}"
                               class="text-white">Import Physico-chemical Data</a>
                        </button>
                    </div>
                    <div class="col-2"></div>


                </div>
            </div>
        </div>
    {% endif %}



{% endblock %}
