.header-image-title {
    color: #ffffff;
    font-family: 'Lucida Sans', Arial, sans-serif;
    font-size: 36px;
    font-weight: 300;
    margin: 0 0 58px;
}

.docsection {
    margin-top: 30px;
    margin-bottom: 40px;
}

.docsubsection {
    margin-top: 20px;
    margin-bottom: 30px;
}

.docsubsubsection {
    margin-top: 15px;
    margin-bottom: 20px;
}

a {
    color: black;
}

.text-size-container {
    font-size: 1.2vw;
}

.text-size-description {
    font-size: 1.1vw;
}


.index-date {
    white-space: nowrap;
    font-size: 2.2em;
    font-weight: bolder;
    text-align: center;

}

.bootstrap-autocomplete {
    max-height: 50vh;
    overflow-y: auto;
}

.accordion .fa {
    margin-right: 0.5rem;
}

.element {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 16px; /* Adds gap of 16px for both rows and columns */
}

.titleimage {
    position: relative;
    text-align: left;
    color: white;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.left_side {
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%);
}

.text-center-div {
    position: absolute;
    left: 50%
}

html {
    height: 100%;
}

body {
    /*min-height: 100%;*/
    display: grid;
    grid-template-rows: 64px auto 7vh;
    grid-template-columns: min(20%, 250px) auto;
    grid-template-areas:
    "top-bar top-bar"
    "sidenav main"
    "sidenav footer";

}

.footer {
    grid-area: footer;
    padding-top: 5px;
    padding-bottom: 5px;
}

.main {
    grid-area: main;
    padding-left: 1vw;
    min-height: 88vh;
}

.top-bar {
    grid-area: top-bar;
    justify-content: flex-end;
    background-color: #00adad;
    background-size: 6.3vh;

}
a:hover {
text-decoration: none; !important
}


.sidenav {
    grid-area: sidenav;
    background-color: #00adad;

}
ul#id_resolution {
    display: inline-flex;
    list-style-type: none;
    justify-content: center;
}

.sizetext-accordion {
    font-size: 0.8rem;
}

.textdescription {
    font-size: 80%;
}

.li-unused {
    display: inline;
    background-color: #005B60 !important;
}

.center_div {
    margin: 0 auto;
    width: 80% /* value of your choice which suits your alignment */
}

.vdgob-body {
    background: #edf3f7 !important;
}

.small-container-textsize {
    font-size: 150%;
}

.text-color-title {
    color: #edf3f7;
}

.text-right {
    text-align: right !important;
}

.text-white {
    color: white !important;
}

.text-orange {
    color: #e8860e !important;
}

.text-lightblue {
    color: #00adad !important;
}

.text-darkblue {
    color: #005B60 !important;
}

.text-bold {
    font-weight: bold;
}

.text-align-center {
    text-align: center;
}

.float-right {
    float: right;
}

.float-left {
    float: left;
}

.border-container-orange {
    border-color: #e8860e !important;
}

.border-container-grey {
    border-color: #edf3f7 !important;
}

.container-graph-white {
    background: #ffffff !important;
}

.container-graph-orange {
    background: #e8860e !important;
}


.container-graph-lightblue {
    background: #00adad !important;
}

.container-dataset-title {
    background: #75B8BA !important;
}

.container-graph-drakblue {
    background: #005B60 !important;
}

.border-container-lightblue {
    border-color: #00adad !important;
}

.border-container-white {
    border-color: #ffffff !important;
}


.icon-fa {
    color: #005B60;
}

.icon-user:hover {
    color: #e8860e;
}


.btn-color-primary {
    background-color: #005B60;
    border-color: #005B60;
}

.btn-color-primary:hover {
    color: #fff;
    background-color: #e8860e;
    border-color: #e8860e;
}

.btn-check:focus + .btn-color-primary, .btn-color-primary:focus {
    color: #fff;
    background-color: #e8860e;
    border-color: #e8860e;
    box-shadow: 0 0 0 0.25rem rgba(252, 182, 57, 1);
}

.btn-check:checked + .btn-primary, .btn-check:active + .btn-primary, .btn-primary:active, .btn-primary.active, .show > .btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #e8860e;
    border-color: #e8860e;
}

.btn-check:checked + .btn-primary:focus, .btn-check:active + .btn-primary:focus, .btn-primary:active:focus, .btn-primary.active:focus, .show > .btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.25rem rgba(252, 182, 57, 1);
}

.btn-primary:disabled, .btn-primary.disabled {
    color: #fff;
    background-color: #e8860e;
    border-color: #e8860e;
}


.text-sidenav {
    font-size: 80%;
}

.leaflet-touch .leaflet-bar a {
    width: 15px !important;
    height: 15px !important;
    line-height: 15px !important;
}

.btn-link {
    color: #005B60 !important;
}

.btn {
    font-size: 0.9rem !important;
}

.btn-light:not(:disabled):not(.disabled).active:focus, .btn-light:not(:disabled):not(.disabled):active:focus, .show > .btn-light.dropdown-toggle:focus {

    box-shadow: 0 0 0 .2rem rgba(232, 134, 14, .5) !important;

}

.appear-wrapper {
    position: relative;
}

.hover-popup {
    position: absolute;
    z-index: 9999999999;
    max-width: none;
    box-shadow: 0px 0px 11px 0px black;
}

.left {
    left: 0;
}

.right {
    right: 0;
}

.top {
    top:0;
}
.bottom {
    bottom: 0;
}

.footer-logo{
    object-fit: contain;
    max-height: 100%;
}

.text-modal{
    font-size: 100%; !important;
}

.text-password{
    font-size: 40%; !important;
}

/*RELATIVE TO SIDEBAR*/
.sidenav a:hover {
    color: #005b60;
}


.sidenav {
}

/* The navigation menu links */
.sidenav a {

  font-size: 100%;
  color: #f1f1f1;
  display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #005b60;
}

/* Style page content */

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */

#sidebar-container {
    background-color: #333;
}
/* Sidebar sizes when expanded and expanded */
/* Menu item*/
#sidebar-container .list-group a {
    height: 45px;
    color: white;
}

/* Submenu item*/
#sidebar-container .list-group .sidebar-submenu a {
    height: 45px;
    padding-left: 30px;
}
.sidebar-submenu {
    font-size: 0.9rem;
}

/* Separators */
.sidebar-separator-title {
    background-color: #005B60;
    height: 35px;
}
.sidebar-separator-text{
    color : white !important;
    font-weight: bolder !important;
}
.sidebar-separator {
    background-color: #333;
    height: 25px;
}
.logo-separator {
    background-color: #333;
    height: 60px;
}

/* Closed submenu icon */
#sidebar-container .list-group .list-group-item[aria-expanded="false"] .submenu-icon::after {
  content: " \f0d7";
  font-family: FontAwesome;
  display: inline;
  text-align: right;
  padding-left: 10px;
}
/* Opened submenu icon */
#sidebar-container .list-group .list-group-item[aria-expanded="true"] .submenu-icon::after {
  content: " \f0da";
  font-family: FontAwesome;
  display: inline;
  text-align: right;
  padding-left: 10px;
}


.wrapper-gallery{
height: 1000px;
}

#summary {
  font-size: 14px;
  line-height: 1.5;
}

#summary p.collapse:not(.show) {
    height: 42px !important;
    overflow: hidden;

    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

#summary p.collapsing {
    min-height: 42px !important;
}

#summary a.collapsed:after  {
    content: '+ Read More';
}

#summary a:not(.collapsed):after {
    content: '- Read Less';
}

.right-aligned-field {
    text-align: right;
}

.import-log-messages {
  background-color: #000000;
  width: 100%;
  padding: 3em;
}

.log-entry {
    font-family: monospace;
    font-weight: bold;
}

.log-entry-error {
    color: red;
}

.log-entry-warning {
    color: orange;
}


.log-entry-info {
    color: lightgreen;
}

.log-entry-debug {
    color: gray;
    font-style: italic;
}

